/* CSS Document */

#productImages img {
	margin:3px;
	}
#productImages  {
	float:right;
	}

	
#buy:hover {
	margin-top:15px;
	float:right;
	padding:5px;
	color:#ffcce4;
    text-shadow: 0 1px 0 #00cc00;
	padding:10px;
	border-radius:5px;
  	background: -webkit-linear-gradient(top, #0d0d0d, #f2f2f2);
  	background: -moz-linear-gradient(top, #0d0d0d, #f2f2f2);
	text-align:center;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27);
-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27);
-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27);

	}
#buy {
    margin-top:15px;
	float:right;
	color:white;
	border-radius:7px;
        text-shadow: 0 -1px 0 white;
	text-align:center;
	padding:10px;
  	background: -webkit-linear-gradient(top, #0d0d0d,#0d0d0d);
  	background: -moz-linear-gradient(top, #0d0d0d,#0d0d0d);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
	}

#greenBtn{
         background-image:url("../img/shiny.jpg"); 
        
         border-radius: 7px; 
         color: white; 
         font-size: 18px; 
         border: 3px solid #0000cc;
       
         padding: 5px;
         
        }
        #greenBtn:hover{
            margin-left: 0;
	background-image:url("../img/metal.png"); 
	color:#00ff00;
	border-radius:7px;
  	 border: 3px solid #00ff00;
         font-size: 18px; 
        
         
        }
	
#descripTable, tr,td {
	padding:5px;
	margin:2px 0px;
}
	
#descripTable  {
	
}
	
#descripTable {
	
}

#descripTable tr:nth-child(odd){
	background:#CCC;
}
	
